@font-face{
    font-family: 'os';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');}

html { 
    font-size: 16px; /* Taille de base de 16px */
    background-color: rgb(0, 0, 0);}
    
body {
    font-size: 1rem; /* Taille du texte du body égal à 16px */
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20vw; /* Réduit encore plus sur petits écrans */}
    audio {
        width: 90%; /* Réduit la largeur du lecteur sur les petits écrans */}
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20vw; /* Encore plus petit pour les téléphones très petits */}
    audio {
        width: 100%; /* Sur très petit écran, prend toute la largeur */}
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;}

.audios {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* S'assure que la div occupe toute la largeur de l'écran */
    margin-bottom: 100px;}
    
audio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; /* Le lecteur occupe 100% de la largeur de son parent */
    max-width: 600px; /* Limite la taille maximale pour éviter qu'il devienne trop grand */
    min-width: 200px; /* Ajoute une largeur minimale pour éviter que l'audio devienne trop petit */
    box-sizing: border-box; /* Ajoute cette règle pour s'assurer que les marges/paddings ne causent pas de débordements */}

audio::-webkit-media-controls-panel {
    display: flex !important; 
    flex-direction: row; }
audio::-webkit-media-controls-time-remaining-display {display: none;}

h1{font-family:'os';
    color: white;
    text-shadow: 0 0 10px white, 0 0 800px white;
    font-weight: bold;
    text-align: center;
    user-select: none;
    font-size: 20vw;
    margin: 50px 0;
    max-width: 100%;}





    

